.profile-button {
  background-color: chocolate;
  color: #ffffff;
  border: 1px #ffffff;
  border-radius: 3px;
  height: 30px;
  width: 120px;
  padding: 5px;

  &:hover {
    background-color: darkorange;
    cursor: pointer;
  }
}
