name: 'Add Hacktoberfest label'
on:
  workflow_dispatch:
  pull_request_target:
    types: [opened, synchronize]
jobs:
  triage:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: 'Hacktoberfest Labeler'
        uses: actions/labeler@v4
        with:
          configuration-path: .github/hacktoberfest-labeler-map.yaml
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          sync-labels: true
